<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10">
      <form (ngSubmit)="updateSong()" #songForm="ngForm" class="song-form" formCheck>
        <div class="form-group">
          <label>Tytuł:</label>
          <input type="text" name="title" [(ngModel)]="song.title" required class="form-control">
          <div class="invalid-feedback">
            Wypełnij pole tytuł
          </div>
        </div>
        <div class="form-group">
          <label>Obrazek:</label>
          <input type="text" name="image" [(ngModel)]="song.image" required class="form-control">
          <div class="invalid-feedback">
            Wypełnij pole obrazek
          </div>
        </div>
        <div class="form-group">
          <label>Autor:</label>
          <input type="text" name="author" [(ngModel)]="song.author" required class="form-control">
          <div class="invalid-feedback">
            Wypełnij pole autor
          </div>
        </div>
        <div class="form-group">
          <label>Typ:</label>
          <select name="genre" [(ngModel)]="song.genre" required class="form-control">
            <option value="" disabled hidden>Wybierz typ</option>
            <option *ngFor="let musicGenre of musicGenres" [value]="musicGenre">{{ musicGenre }}</option>
          </select>
          <div class="invalid-feedback">
            Wybierz typ
          </div>
        </div>
        <div class="form-group">
          <label>Rok:</label>
          <input type="number" name="year" [(ngModel)]="song.year" required class="form-control">
          <div class="invalid-feedback">
            Wypełnij pole rok
          </div>
        </div>
        <div class="form-group">
          <label>Długość:</label>
          <input type="number" name="length" [(ngModel)]="song.length" required class="form-control">
          <div class="invalid-feedback">
            Wypełnij pole długość
          </div>
        </div>
        <div class="form-group">
          <label>Album:</label>
          <input type="text" name="album" [(ngModel)]="song.album" required class="form-control">
          <div class="invalid-feedback">
            Wypełnij pole album
          </div>
        </div>
        <div class="form-group">
          <label>Tekst:</label>
          <textarea name="text" [(ngModel)]="song.text" required class="form-control textarea-resize" rows="10"></textarea>
          <div class="invalid-feedback">
            Wypełnij pole tekst
          </div>
        </div>
        <button  type="submit" class="btn mt-3 btn-primary submit-button">Zaktualizuj piosenkę</button>
      </form>
    </div>
  </div>
</div>
