<section class="signup container  mt-5">
  <h1 class="entry-title"><span>Zaloguj</span></h1><hr>
  <form class="form-horizontal" method="post" name="signup" id="signup">
    <div class="form-group mt-3">
      <label class="control-label col-sm-3">Login<span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <input type="text" class="form-control" name="mem_name" placeholder="Wpisz login" value=""
               [(ngModel)]="credentials.login">
      </div>
    </div>
    <div class="form-group mt-3">
      <label class="control-label col-sm-3">hasło<span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <input type="password" class="form-control" name="password" placeholder="Wpisz hasło" value=""
               [(ngModel)]="credentials.password">
      </div>
    </div>

    <div class="form-group mt-3">
      <div class="col-xs-offset-3 col-xs-10">
        <button (click)="signIn()" name="Submit" type="submit" class="btn btn-primary">Zaloguj się
        </button>
      </div>
    </div>
  </form>
</section>
