<div class="title">
  <h1>{{ song.title }}</h1>
</div>
<div class="detailContainer">
  <div style="width: 20%">
    <img [src]="song.image" alt="No image" style="width: 100%">
    <div class="buttons">
      <button type="submit" class="btn btn-primary submit-button">Edytuj</button>
      <button type="submit" class="btn btn-primary submit-button">Usuń</button>
    </div>
  </div>
  <div class="info">
    <h2>Informacje</h2>
    <p>Autor: {{ song.author }}</p>
    <p>Typ: {{ song.genre }}</p>
    <p>Rok: {{ song.year }}</p>
    <p>Długość: {{ song.length }} min.</p>
    <p>Album: {{ song.album }}</p>
  </div>
  <div class="text">
    <h2>Tekst</h2>
    <p style="text-align: left">{{ song.text }}</p>
  </div>
</div>
